body {
    margin: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

.top-container{
    background-color: #6943FF;
    color: white;

}
h1{
    padding-top:40px;
    padding-bottom: 20px;
}
#input{
    padding: 35px 1px;
    border: 2px solid whitesmoke;
    background-color: #6943FF;
    border-radius: 4px;
    font-size:60px;
    width: 130px;
    height: 100px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#btn{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 13px 30px;
    border-radius: 4px;
    border: none;
    background-color: whitesmoke;
    font-size: 16px;
    font-family:monospace ;
    position: relative;
    transition: transform 0.1s ease
}
#btn:active{ 
        transform: translateY(3px); 
}
#btn:hover{
    background-color:rgb(172, 172, 172) ;
}

.sub-container{
    background-color: white;
    width: 600px;
    margin: 30px auto;
    padding: 10px 0;
}

.label{
    color: #6943FF;
    font-weight: bold;
    font-size: 22px;
}

#output-1, #output-2, #output-3{
    font-size: 19px;
    width: 600px;
    height: 30px
}

